<%- include('partials/header') %>

<div class="left">
  <ul>
    <li>
      <h4><a class="hill" href="/register">Register</a></h4>
    </li>
    <li>
      <h4><a class="hill" href="/login">Login</a></h4>
    </li>
  </ul>
</div>
<div id="right">
  </div>
</div>

<%- include('partials/footer') %>
