/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}
